html {
    font-family: Montserrat;
    scroll-behavior: smooth;
    overflow-x: hidden;;
}

.container {
    max-width: 1170px;
    width: calc(100% - 30px);
    position: relative;
    margin: auto;
    padding: 0 15px;
}

.section-title {
    margin: 4rem 0 2rem 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-align: center;
    color: var(--black);
}

@media only screen and (max-width: 768px) {
    .section-title {
        margin: 2rem 0 1rem 0;
        font-size: 22px;
        line-height: 28px;
    }
      
}
